@media only screen and (max-width: 960px) {
	.navbar {  
		text-align: center;
		padding: 20px 40px 20px;
		justify-content: center;	
		&__list {
			margin-top: 30px;
			max-height: 1px;
			display: block;
			overflow: hidden;
			transition: 0.5s ease-in-out;
			opacity: 0;
		}
		&__item {
			margin-top: 50px;
			margin-right: 0;
			& h3 {
				font-size: 2rem;
				margin-top: 10px;
			}
		}		
		&__burger {
		    position: absolute;
		    right: 25px;
    		top: 0;
			display:block;
		}
		&__logo {
			display: none;
		}
		&__menu {
			width: 100%;
		}
		
	}	
	.show-navbar {  // top navbar dropdown
		max-height: 1000px;
		opacity: 1;
	}
	.navbar-bg {
		background-color: rgba(255, 255, 255, 0.2);
	}
	

	// HERO HEADER ===============================================	
	.hero {
		h1 {
			font-size: 2.8rem;
		}
		h2 {
			margin-right: 2rem;
		}
		& .break {
			display: block;
		}
	}

	// CITIES SECTION ===============================================

	.projects .over-image {
		display: block;
	}
	.projects .under-image {
		display: none;
	}

	.projects__tools {
		margin-top: 20px;
	}

	// ABOUT ===============================================
	.about {
		padding: 0 20px;
	}





	// FOOTER ===============================================

	.footer {
		&__column {
		padding: 0 20%;
		}
		&__row {
			justify-content: center;
		}
		&__social-icons {
			& i {
				font-size: 3rem;
			}
		}
	}
	
} // end of max-width 950px


@media only screen and (max-width: 500px) {
	.container {
		width: 100%;
	}

	// HERO HEADER ===============================================	
	.hero { 
		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.1rem;
			margin-right: 1rem;
		}
	}

	// NAVBARS ===============================================
	%navbarList {
		padding: 0;
		flex-direction: column;
		h3 {
			font-size: 1.5rem;
			margin: 10px;
			text-align: center;
		}
	}


}	// end of max-width 500px
	


